.pas-dialog{
    z-index:-1;
    display: none;
}


.pas-dialog[data-dialog-status=open]{
    z-index:6;
    display: block;
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pas-dialog[data-dialog-status=openModal]{
    z-index:6;
    display: block;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.pas-dialog__backdrop{
    background: rgba(0,0,0,0.75);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Show backdrop only if in openModal */
.pas-dialog[data-dialog-status=openModal] .pas-dialog__backdrop{
    display: block;
}


.pas-dialog__content{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 90%;
    min-width: 70%;
    max-height: 90%;
    min-height: 40%;
    background-color: white;
    transform: translate(-50%,-50%);
    overflow-y: auto;
    box-sizing: border-box;
    padding: 5px;
}

/*width and height for non-mobile devices*/
@media only screen and (min-width: 768px){
    .pas-dialog__content{
        max-width: 80%;
        min-width: 30%;
        max-height: 80%;
        min-height: 20%;
    }
}